h1 {
  font-family: 'Sansita One', cursive;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  width: 50%;
  margin: 0 auto;
}

#body {
  text-align: center;
}

.blue, .blue a {
  color: #003DA5;
}

.red {
  color: #DA291C;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.item {
  padding: 5px;
}
