<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div id="logo"><img src="/jayslogo.png" /></div>

    <div id="body">{{{@body}}}</div>
  </body>
</html>
