<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Sansita+One|Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div id="body">{{{@body}}}</div>
  </body>
</html>
